.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-inner {
  padding: 0 1rem 80vh;
  min-height: 100vh;
}

@media (min-width: 769px) {
  .scroll-stack-inner {
    padding: 20vh 5rem 50rem;
  }
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: auto;
  min-height: 20rem;
  width: 100%;
  margin: 20px 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

@media (min-width: 769px) {
  .scroll-stack-card {
    height: 20rem;
    padding: 3rem;
    margin: 30px 0;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
  
}
